#shack_comment_colors {
	border-right: 1px dashed #aeaf9b;
}

#shack_comment_styles {
	margin-left: 7px;
}

#shack_comment_tags {
	border: 2px solid #5F93C6;
	background: #000;
	-webkit-box-shadow: 0px 0px 4px #4D81B2;
	margin-top: 33px;
	height: 225px;
}

#shack_comment_tags, #frm_body, div.reply a, div.fullpost, div.inlinereply {
	-webkit-border-radius: 4px;
}

div.inlinereply {
	-webkit-border-top-left-radius: 0px;
	-webkit-border-top-right-radius: 0px;
}

div.fullpost.replying {
	-webkit-border-bottom-left-radius: 0px;
	-webkit-border-bottom-right-radius: 0px;
}

#shack_comment_tags h4 {
	text-align: center;
}

#shack_comment_tags dl {
	width: 120px;
	display: inline-block;
	margin: 5px 0px;
	padding: 0px 10px;
}

#shack_comment_tags dt, #shack_comment_tags dd {
	height: 25px;
	margin: 0px !important;
	display: inline-block;
}

#shack_comment_tags dt {
	font-weight: normal !important;
	width: 70px;
	overflow: hidden;
}

#shack_comment_tags dt span {
	display: inline !important;
}

#shack_comment_tags dd {
	width: 50px;
}

.shack_new_post {
	background-image: url('images/newcomment.gif') !important;
}

.shack_new_post.last {
	background-image: url('images/newcommentlast.gif') !important;
}

.shack_user_reply {
	background-image: url('images/newreply.gif') !important;
}

.shack_user_reply.last {
	background-image: url('images/newreplylast.gif') !important;
}

div.root > ul > li.shack_new_post.last , div.root > ul > li.shack_user_reply.last {
	background: none !important;
}

div.root > ul > li.shack_new_post .postnumber a:link , div.root > ul > li.shack_new_post .postnumber a:visited , div.root > ul > li.shack_new_post .postnumber a:active , div.root > ul > li.shack_new_post .postnumber a:hover {
	background-image: url('images/newroot.gif') !important;
}

div.original_author a { color: rgb(0, 191, 243) !important; }