#userDropdownTrigger { 
  width: auto; 
  -webkit-user-select: none; 
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2ZXJzaW9uPSIxLjEiIGlkPSJMYXllcl8xIiB4PSIwcHgiIHk9IjBweCIgd2lkdGg9IjUxMnB4IiBoZWlnaHQ9IjUxMnB4IiB2aWV3Qm94PSIwIDAgNTEyIDUxMiIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgNTEyIDUxMiIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+CjxnIHN0eWxlPSJmaWxsOiAjZmZmZmZmIj4KCTxwYXRoIGQ9Ik0yNTguNzQ0IDI5My4yMTRjNzAuODk1IDAgMTI4LjM2NS01Ny40NzIgMTI4LjM2NS0xMjguMzY2YzAtNzAuODk2LTU3LjQ3My0xMjguMzY3LTEyOC4zNjUtMTI4LjM2NyBjLTcwLjg5NiAwLTEyOC4zNjggNTcuNDcyLTEyOC4zNjggMTI4LjM2N0MxMzAuMzc3IDIzNS43IDE4Ny44IDI5My4yIDI1OC43IDI5My4yMTR6Ii8+Cgk8cGF0aCBkPSJNMzcxLjUzMyAzMjIuNDMySDE0MC40NjdjLTc3LjU3NyAwLTE0MC40NjYgNjIuOTA5LTE0MC40NjYgMTQwLjQ4N3YxMi42MDFoNTEydi0xMi42MDEgQzUxMiAzODUuMyA0NDkuMSAzMjIuNCAzNzEuNSAzMjIuNDMyeiIvPgo8L2c+Cjwvc3ZnPgo=") !important; 
  background-size: 50% !important; 
  background-repeat: no-repeat !important; 
  background-position: 50% !important;
}

#userDropdownTrigger:hover {
  background-color: #6b9eaa;
}

body .in, .base-level { overflow: visible !important; }

.userDropdown.hidden { 
  display: none; 
}

span.author { 
  position: relative !important; 
}

span.author .userdropdown, .userDropdown { 
  background-color: #333333 !important; 
  position: absolute !important; 
  top: 1.5em; 
  left: 0; 
  height: auto !important; 
  width: auto !important; 
  background: #222 !important; 
  z-index: 9999; 
  text-align: left; 
  border: 1px solid #333; 
  -moz-box-shadow: 3px 3px 4px #000; 
  font-weight: normal; 
  font-size: 12px; 
  padding: 0 !important; 
}

span.author .userdropdown { 
  margin-top: 4px; 
}

span.author .userdropdown li, .userDropdown li { 
  background-color: inherit; 
  margin: 0; 
  padding: 0 !important; 
  background-image: none !important;  
  display: block !important; 
  width: 100% !important; 
  line-height: 2.5em; 
  border-bottom: 1px solid #333 !important; 
  z-index: 9999; 
}

span.author .userDropdown li.userDropdown-separator , .userDropdown li.userDropdown-separator { 
  border-bottom: 1px solid #666 !important; 
}

span.author .userDropdown li a, .userDropdown li a { 
  display: block; 
  width: auto !important; 
  white-space: nowrap; 
  padding: 4px 12px !important; 
  margin: 0 !important; 
  color: #ddd; 
  font-weight: normal; 
  font-size: 12px; 
  border: 0 !important;  
  border-radius: 0 !important; 
  background-color: transparent !important; 
  float: none;
}

span.author .userDropdown li a { 
  width: auto !important;
}

span.author .userDropdown li a:hover, .userDropdown li a:hover { 
  color: #fff; 
  background-color: #524A60 !important; 
}

#lolWorkingBar { 
  position: fixed; 
  left: 0; 
  bottom: 0; 
  height: 2.5em; 
  width: 100%; 
  line-height: 2.5em; 
  background-color: #000; 
  color: #fff; 
  font-size: 150%; 
  font-weight: bold; 
  display: none; 
  text-align: center; 
}

header-buttons .social li { 
  width: calc(20% - 8px); 
  margin-right: 5px;
}

body .in {
  overflow: visible;
}