<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
   <key>Extension Updates</key>
   <array>
     <dict>
       <key>CFBundleIdentifier</key>
       <string>nws.shacknews.shackfari</string>
       <key>Developer Identifier</key>
       <string>EAAL2K6W6F</string>
       <key>CFBundleVersion</key>
       <string>21</string>
       <key>CFBundleShortVersionString</key>
       <string>1.2.1</string>
       <key>URL</key>
       <string>https://github.com/DianeOfTheMoon/shackfari/releases/download/v1.2.1/shackfari.safariextz</string>
     </dict>
   </array>
</dict>
</plist>
